## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [91]:
# Your code here

sample_list_1 = random.sample(range(0,100), 80)

print(sample_list_1)

[82, 5, 89, 49, 10, 46, 92, 25, 85, 88, 30, 31, 29, 69, 12, 70, 73, 91, 37, 93, 72, 19, 11, 20, 67, 76, 95, 96, 84, 83, 41, 94, 52, 34, 17, 8, 86, 99, 38, 27, 48, 28, 61, 87, 16, 98, 13, 0, 54, 9, 63, 35, 59, 6, 65, 7, 97, 50, 56, 3, 79, 71, 60, 53, 57, 23, 43, 42, 26, 55, 77, 22, 74, 66, 47, 36, 51, 18, 75, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [92]:
# Your code here

set1=set(sample_list_1)

len(set1)

# The length of the set is still 80 because the random.sample function selects unique elements

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [93]:
# Your code here

sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.choice(range(0,100)))
    
print(sample_list_2)

[28, 38, 2, 42, 3, 41, 59, 97, 94, 53, 22, 16, 22, 23, 20, 80, 42, 80, 5, 13, 40, 51, 39, 34, 62, 70, 47, 94, 39, 27, 47, 79, 83, 8, 76, 30, 1, 68, 20, 25, 95, 90, 35, 84, 41, 25, 7, 59, 30, 44, 66, 35, 53, 56, 72, 8, 70, 68, 89, 75, 58, 54, 19, 76, 32, 3, 61, 70, 67, 49, 35, 94, 29, 0, 19, 50, 12, 47, 35, 68]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [94]:
# Your code here

set2=set(sample_list_2)

len(set2)

# The length of the set is no longer 80 because it gets rid of the duplicated elements

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [95]:
# Your code here

set3 = set1-set2

print(set3)

{6, 9, 10, 11, 17, 18, 26, 31, 36, 37, 43, 46, 48, 52, 55, 57, 60, 63, 65, 69, 71, 73, 74, 77, 82, 85, 86, 87, 88, 91, 92, 93, 96, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [96]:
# Your code here

set4 = set2-set1

print(set4)

{1, 2, 68, 90, 39, 40, 44, 80, 58, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [97]:
# Your code here

set5 = set1 & set2

print(set5)

{0, 3, 5, 7, 8, 12, 13, 16, 19, 20, 22, 23, 25, 27, 28, 29, 30, 32, 34, 35, 38, 41, 42, 47, 49, 50, 51, 53, 54, 56, 59, 61, 66, 67, 70, 72, 75, 76, 79, 83, 84, 89, 94, 95, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [98]:
# Your code here

len(set1) + len(set2) - len(set5) == len(set3) + len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [99]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [100]:
# Your code here

set6.update(set3 | set5)

#### Check if `set1` and `set6` are equal.

In [101]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [102]:
# Your code here

print(set2.issubset(set2))
print(set3.issubset(set1))

True
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [103]:
# Your code here

(set3 | set4 | set5) == (set1 | set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [104]:
# Your code here
set1.pop()

# Does not need an index because sets are not ordered so there is no first element

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [107]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list1 = list(set1)

for i in list1:
    if i in list_to_remove:
        j = list1.index(i)
        list1.pop(j)
        
print(list1)

[3, 5, 6, 7, 8, 10, 12, 13, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 30, 32, 34, 35, 36, 37, 38, 42, 43, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 91, 92, 93, 94, 95, 96, 97, 98]